[submodule "musichead-rails-api-server/heroku-server"]
	path = musichead-rails-api-server/heroku-server
	url = https://github.com/drumnation/musichead-rails-api-server
[submodule "musichead-react-client/heroku-server"]
	path = musichead-react-client/heroku-server
	url = https://github.com/drumnation/musichead-react-client
