.panel-body #albums {
    background:white;
}

.album-title {
    color: black;
    text-align: left;
    font-family: 'Rock Salt';
    font-size: 40px;
    margin-top: 20px;
    line-height: 75px;
    letter-spacing: 8px;
}
.album-subinfo {
    font-family: 'bungee';
    color: black;
    text-align: left;
    font-size: 30px;
    margin-top: 31px;
}
.album-cover {
    float: left;
}

.album-body {
    color: black;
    text-align: left;
    font-size: 16px;
}
.album-row {
    vertical-align: middle;
}

.album-button {
    color: black;
    font-size: 30px;
    text-align: left;
    margin-top: 41px;
    /*margin-right: 25px;*/
    font-family: 'helvetica'
}

.band-img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    float: center;
    border: 3px solid #000;
    border-radius: 75px;
    object-fit: cover;
}

.album-view-artist-button{
    margin-top: 20px;
}