#container {
    width: 100%;
    max-width: 1200px;
    margin: 2em auto;
}

.cols {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}

.box {
    margin-bottom: 20px;
}

.box.one {
    height: 200px;
    background-color: #d77575;
}

.box.two {
    height: 300px;
    background-color: #dcbc4c;
}

.box.three {
    background-color: #a3ca3b;
    height: 400px;
}

.box.four {
    background-color: #3daee3;
    height: 500px;
}

.box.five {
    background-color: #bb8ed8;
    height: 600px;
}

.box.six {
    background-color: #baafb1;
    height: 200px;
}

/*Track Info*/

.album-cover {
    width: 500px;
    height: 500px;
    border: 3px solid #000;
}

.track-details-col {
    color: black;
    text-align: left;
}

.track-info-title {
    color: black;
    text-align: left;
    font-family: 'New Rocker';
    font-size: 50px;
}

.album-title {
    font-size: 40px;
}

.band-name {
    font-size: 50px;
    font-family: 'bungee';
}

.release-date {
    font-size: 40px;
}

.release-label {
    font-size: 40px;
}
.genres {
    margin-top: 40px;
    font-size: 30px;
    font-family: 'helvetica';
}

/*track*/

.track-card-title {
    font-size: 33px;
    letter-spacing: 2.5px;
    font-family: 'rock salt';
    margin-top: 40px;
}

.album-card-title {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 20px;
}

.band-card-name {
    margin-top: 20px;
    font-family: 'Bungee';
    font-size: 40px;
}

.popularity-card {
    margin-top: 10px;
    font-size: 24px;
}

.followers-card {
    margin-top: 10px;
    font-size: 24px;
}

.genres-card{
    margin-top: 20px;
    font-size: 23px;
}