/*header menu*/

.loggedInMenu a {
    color: #fff;
}

.loggedInMenu {
    margin-bottom: 25px;
    height: 64px;
}



/*TK*/

.profile-buttons {
    margin-top: 24px;
    margin-bottom: 7px;
}

.log-out-button {
    height: 63px;
    width: 120px;
    margin-right: 15px;
}

.profile-link-button {
    height: 63px;
    width: 140px;
}

.logo {
    margin-left: 20px;
    font-family: 'Bungee';
    font-size: 55px;
}

.brand-vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    color: #fff;
}

.brand-image {
    height: 66px;
    margin-left: -140px;
}

.topnav-profile-img {
    width: 64px;
    height: 64px;
    float: center;
    border: 3px solid #FFF;
    border-radius: 75px;
    object-fit: cover;
}

.track-info-card-artist-button {
    margin-top: 20px;
}