.about {
    color: black;
}
.about-name {
    font-size: 30px;
    font-family: 'New Rocker';
}
.about-info {}
.about-followers {
    font-size: 18px;
}

/*.blur-bg {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}*/