/*Main User Profile*/

.spotify-connect-button {
    margin-right: 25px;
}

.sub-menu-buttons {
    height: 50px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.spotify-button-text{
    margin-left: 10px;
    margin-right: 10px;
}

/*About*/

.about {
    color: black;
}
.about-name {
    font-size: 30px;
    font-family: 'New Rocker';
}

.about-followers {
    font-size: 18px;
}

/*Header*/

.blur-bg {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(2px);
    background: center no-repeat;
    top: 0;
    height: 640px;
    background-size: cover;
}

.profile-image-group {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 50px;
}

.profile-container {
    position: relative;
}

/* Mini-reset */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Set the base font */
body {
    font-family:'Helvetica', 'Arial', sans-serif;
}
/* Remove underlines on links */
a, a:link {
    text-decoration: none;
}
.image-group {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
.cover-image {
    width: 100%;
}
/* Create a container that can be used to size and position the profile image */
/*.profile-image-group {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: -84.5%;
    left: 10%;
}*/
/* Scale the image to fit the image-group */
.profile-image {
    height: 100%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #222; 
}
/* Hide the checkbox */
.image-checkbox {
    position: absolute;
    left: 100%;
    visibility: hidden;
}
/* Define and position the overlay */
.image-overlay {
    width: 100%;
    padding: 0 1em;
    height: 3em;
    line-height: 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ccc;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    transition: all 500ms ease;
}
.image-checkbox:checked ~ .image-overlay, .profile-image-group:hover .image-overlay { 
    color: #eee;
    background-color: rgba(0,0,0,.5);
}
.image-overlay>i {
    font-size: 2em;
    transition: all 500ms ease;
}
.image-checkbox:checked ~ .image-overlay>i, .profile-image-group:hover .image-overlay>i {
    font-size: 1em;
}
.image-checkbox:checked ~ .image-overlay:after, .profile-image-group:hover .image-overlay:after {
    content:'Change Image';
    display: inline-block;
    margin-left: 1em;
    color: #fff;
}
.image-menu {
    list-style: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 1px 1px rgba(0,0,0,.15);
    border-radius: 0 0 4px 4px;
}
.image-checkbox:checked ~ .image-menu {
    display: block;
}
.image-menu>li {
    padding: 5px 15px;
}
.image-menu>li:last-child {
    border-radius: 0 0 4px 4px;
}
.image-menu>li:hover {
    background-color: darkblue;
}
.image-menu>li>a {
    display: block;
    line-height: 1.5;
    color: #555;
    white-space: nowrap;
    font-size: .85em;
}
.image-menu>li:hover a {
    color: #fff;   
}
.image-menu>li>a>i {
    display: inline-block;
    width: 1.25em;
}

/*Listening History/Timeline*/

strong {
    font-weight: 600;
}

#content {
    text-align: center;
    margin-left: 460px;
}
/* Timeline */

.timeline-track-cover {
    width: 450px;
    height: 450px;
    border: 3px solid black;
}
.timeline {
    border-left: 4px solid #4298C3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: white;
    color: black;
    font-family: Helvetica, 'Source Sans Pro', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.10em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 100%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
    font-family: 'Rock Salt', 'Oswald', sans-serif;
    letter-spacing: 2.5px;
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 25px;
    margin-top: 25px;
}

p {
    font-size: 1.4em;
}

.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -375.5px;
    color: black;
    content: attr(data-date);
    text-align: right;
    font-weight: 700;
    font-size: 0.9em;
    min-width: 120px;
    background-color: #4CAF50;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.timeline .event:after {
    box-shadow: 0 0 0 4px #4298c3;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.timeline-time-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.view-track-button-history {
    margin-top: 15px;
}

