body {
  background: #000;
  color: #fff;
  font-family: 'Helvetica';
}

.helvetica {
  font-family: 'Helvetica'
}

.App {
  text-align: center;
}

.App-title {
  font-size: 26px;
}

h1 {
  font-family: 'Play';
}

/*Profile*/

.profile {
  display: flex;
  justify-content: center;
}

.profile-info {
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  float: center;
  border: 3px solid #000;
  border-radius: 75px;
  object-fit: cover;
}

.profile-name {
  font-size: 26px;
  font-family: 'Michroma'
}

.profile-followers, .profile-genres {
  font-size: 18px;
}

/*Gallery*/

.track {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.track-img {
  width: 220px;
  height: 220px;
  border: 3px solid #000;
  border-radius: 3px;
  object-fit: cover;
  position: absolute;
}

.track-text {
  background-color: black;
  color: white;
  opacity: 0.75;
  width: 214px;
  margin-left: 3px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.track-play {
  position: absolute;
  width: 220px;
  height: 220px;
}

.track-play-inner {
  position: absolute;
  text-align: center;
  font-size: 25px;
  background-color: black;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  color: white;
  padding-top: 13px;
  margin-left: 80px;
  margin-top: 80px;
  opacity: 0;
}

.track-play-inner:hover {
  opacity: 0.8;
  animation-name: fade-in;
  animation-duration: 0.3s;
}

.view-track-button {
  position: relative;
  display: block;
  margin-right: 15px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

/*Home*/

/*Not Logged In*/


.big-artist {
  width: 95%;
  height: 95;
}

.big_search {
  font-size: 60px;
  padding: 60px;
  text-align: center;
  font-family: helvetica;
  text-transform: uppercase;
}

.sub-menu-buttons {
  height: 50px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.spotify-connect-button {
  margin-right: 25px;
}

.login-button {
  margin-right: 23px;
}