.loggedInMenu a {
    color: #fff;
}

.loggedInMenu {
    margin-bottom: 25px;
}

.brand {
    color: #fff;
}

.profile-buttons {
    margin-top: 24px;
}

.logo {
    font-family: 'Bungee';
    /*font-family: 'New Rocker';*/
}